{% extends "base.html" %}
{% from 'macros.html' import trackTable %}

{% block title %}Spotipy{% endblock %}

{% block content %}

<hgroup>
  <h1>{{ album.title }}</h1>
  <h2><a href="/users/{{ album.username | urlencode }}">{{ album.user.display_name }}</a></h2>
</hgroup>

{{ trackTable(tracks) }}

{% endblock %}