<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', path='pico.css') }}">
  {% endblock %}
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/explore">Explore</a></li>
      </ul>
      <ul>
        <li>
          <form id="search-form" action="/api/search" method="GET">
            <input type="search" id="search" name="title" placeholder="Search">

            <div id="search-results"></div>
          </form>
        </li>
      </ul>
      <ul>
        {% if user %}
        <li><a href="/upload">Upload</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}

  </main>
  <footer>
  </footer>

  {% block scripts %}
  <script src="{{ url_for('static', path='search.js') }}"></script>
  {% endblock %}
</body>

</html>