{% extends "base.html" %}

{% block title %}Spotipy{% endblock %}

{% block content %}

{% if user %}
<h1>Hello {{ user.display_name }}👋🎵</h1>
{% else %}
<h1>Hello at Spotipy👋🎵</h1>
{% endif %}

{% endblock %}