{% extends "base.html" %}

{% block title %}Login - Spotipy{% endblock %}

{% block content %}
<form action="/api/login" method="post">

  <h1>Login</h1>

  <div class="grid">

    <label for="username">
      Username
      <input type="text" id="username" name="username" placeholder="Username" required>
    </label>

    <label for="password">
      Password
      <input type="password" id="password" name="password" placeholder="Password" required>
    </label>

  </div>


  <button type="submit">Login</button>
  <a href="/register"><small>Create account</small></a>

</form>
{% endblock %}