{% macro trackTable(tracks) %}
<caption>Songs</caption>
<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Artist</th>
    </tr>
  </thead>
  <tbody>
    {% for track in tracks %}
    <tr>
      <td><a href="/tracks/{{ track.id }}">{{ track.title }}</a></td>
      <td><a href="/users/{{ track.user.username | urlencode }}">{{ track.user.display_name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro albumTable(albums) %}
<caption>Albums</caption>
<table>
  <thead>
    <tr>
      <th scope="col">Album</th>
      <th scope="col">Artist</th>
    </tr>
  </thead>
  <tbody>
    {% for album in albums %}
    <tr>
      <td><a href="/albums/{{ album.id }}">{{ album.title }}</a></td>
      <td><a href="/users/{{ album.user.username | urlencode }}">{{ album.user.display_name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}