{% extends "base.html" %}

{% block title %}Not Found - Spotipy{% endblock %}

{% block content %}


{% if detail %}
<h2>{{ detail }}</h2>
{% endif %}

<h5>The ressource with url {{ request.url }} is not available.</h5>

{% endblock %}