{% extends "base.html" %}

{% block title %}Register - Spotipy{% endblock %}

{% block content %}
<form action="/api/register" method="post">

  <h1>Register</h1>

  <div class="grid">

    <label for="username">
      Username
      <input type="text" id="username" name="username" placeholder="Username" required>
    </label>

    <label for="display_name">
      Display name
      <input type="text" id="display_name" name="display_name" placeholder="Display name" required>
    </label>

    <label for="password">
      Password
      <input type="password" id="password" name="password" placeholder="Password" required>
    </label>

  </div>

  <button type="submit" id="registerButton">Register</button>

</form>

<script>
  var debounceTimer;
  var previousUsername = "";

  function debounce(func, delay) {
    clearTimeout(debounceTimer);
    debounceTimer = setTimeout(func, delay);
  }

  var usernameInput = document.getElementById('username');
  var registerButton = document.getElementById('registerButton');

  usernameInput.addEventListener('input', function () {
    var username = this.value.trim();

    if (username === previousUsername) {
      return;
    }

    previousUsername = username;

    debounce(function () {
      fetch(`/api/register/valid?username=${username}`)
        .then(response => response.json())
        .then(data => {
          var isValid = !data;
          usernameInput.setAttribute('aria-invalid', isValid);
          registerButton.disabled = isValid;
        });
    }, 500);
  });
</script>
{% endblock %}