{% extends "base.html" %}

{% block title %}{{ track.title }} - Spotipy{% endblock %}

{% block content %}

<hgroup>
  <h1>{{ track.title }}</h1>
  <h2><a href="/users/{{ track.username | urlencode }}">{{ track.user.display_name }}</a></h2>
</hgroup>

<audio controls style="width: 100%;">
  <source src="{{ url_for('audio', path=track.audio_url) }}" type="audio/mpeg">
</audio>



{% endblock %}