{% extends "base.html" %}

{% block title %}Unauthorized - Spotipy{% endblock %}

{% block content %}


{% if detail %}
<h2>{{ detail }}</h2>
{% endif %}

<h5>Please <a href="/login">Login</a> or <a href="/register">Register</a></h5>

{% endblock %}