{% extends "base.html" %}

{% block title %}Upload - Spotipy{% endblock %}

{% block content %}
<h2>Upload as {{ user.display_name }}</h2>

<details id="uploadSingle">
	<summary>Upload Single</summary>
	<form action="/api/tracks" method="post" enctype="multipart/form-data">

		<label for="singleTitle">Song Title:</label>
		<input type="text" id="singleTitle" name="title" placeholder="Title" required>
		<input type="file" id="singleFile" name="file" accept=".mp3" required>

		<button type="submit" id="uploadSingle" value="Upload" name="uploadBtn">Upload</button>
	</form>
</details>


<details id="uploadAlbum">
	<summary>Upload Album</summary>

	<form id="uploadAlbumForm" action="/api/albums" method="post" enctype="multipart/form-data">

		<label for="albumTitle">Album Title:</label>
		<input type="text" id="albumTitle" name="title" placeholder="Title" required>

		<table id="songTable">
			<thead>
				<tr>
					<th scope="col">Song Title</th>
					<th scope="col">File</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input type="text" name="trackTitle" placeholder="Title" required>
					</td>
					<td>
						<input type="file" name="files" accept=".mp3" required>
					</td>
					<td>
					</td>
				</tr>
			</tbody>
		</table>

		<button type="button" id="addRowBtn">+</button>
		<button type="submit" id="uploadAlbum" value="Upload" name="uploadBtn">Upload</button>
	</form>

</details>

{% endblock %}

{% block sytlesheets %}
<style>
	.details-content {
		display: none;
	}
</style>
{% endblock %}

{% block scripts %}
<script>
	document.getElementById("addRowBtn").addEventListener("click", function () {
		var tableBody = document.getElementById("songTable").getElementsByTagName("tbody")[0];
		var newRow = tableBody.insertRow(tableBody.rows.length);
		var cell1 = newRow.insertCell(0);
		var cell2 = newRow.insertCell(1);
		var cell3 = newRow.insertCell(2);

		cell1.innerHTML = '<input type="text" name="trackTitle" placeholder="Title" required>';
		cell2.innerHTML = '<input type="file" name="files" accept=".mp3" required>';
		cell3.innerHTML = '<button type="button" class="removeBtn">-</button>';

		attachRemoveButtonListeners();
	});

	function attachRemoveButtonListeners() {
		var removeButtons = document.getElementsByClassName("removeBtn");
		for (var i = 0; i < removeButtons.length; i++) {
			removeButtons[i].addEventListener("click", function () {
				var row = this.parentNode.parentNode;
				if (row.parentNode) {
					row.parentNode.removeChild(row);
				};
			});
		}
	}

	function getTrackTitles() {
		var trackTitleInputs = document.getElementsByName("trackTitle");
		var trackTitles = [];
		for (var i = 0; i < trackTitleInputs.length; i++) {
			var title = trackTitleInputs[i].value;
			if (title.trim() !== "") {
				trackTitles.push(title.trim());
			}
		}
		return trackTitles;
	}

	document.getElementById("uploadAlbumForm").addEventListener("submit", function (event) {
		var trackTitles = getTrackTitles();
		var trackTitlesField = document.createElement("input");
		trackTitlesField.setAttribute("type", "hidden");
		trackTitlesField.setAttribute("name", "track_titles");
		trackTitlesField.setAttribute("value", trackTitles.join(","));
		this.appendChild(trackTitlesField);
	});

</script>
{% endblock %}