{% extends "base.html" %}
{% from 'macros.html' import trackTable, albumTable %}

{% block title %}Tracks - Spotipy{% endblock %}

{% block content %}

<hgroup>
  <h1>{{ user_to_display.display_name }}</h1>
  <h2>{{ user_to_display.username }}</h2>
</hgroup>

{{ trackTable(user_to_display.tracks) }}
{{ albumTable(user_to_display.albums) }}


{% endblock %}